ctransformers
transformers
langchain
langchain-community
torch
pypdf
sentence-transformers
gpt4all
faiss-cpu
faiss-gpu
openai
pydantic_settings
requests
langchain_huggingface
# llama-cpp-python
fastapi
datasets